---
import {t, astroI18n} from "astro-i18n";

import pngSlovakia from "./slovakia.png";
import pngSerbia from "./serbia.png";
import pngUnitedKingdom from "./united-kingdom.png";

const LANGUAGES = {
  sk: {
    pngSrc: pngSlovakia,
    label: t("localeLabel", undefined, {locale: "sk"}),
  },
  sr: {
    pngSrc: pngSerbia,
    label: t("localeLabel", undefined, {locale: "sr"}),
  },
  en: {
    pngSrc: pngUnitedKingdom,
    label: t("localeLabel", undefined, {locale: "en"}),
  },
} as const;
---

<div class="dropdown dropdown-end">
  <label
    tabindex="0"
    class="avatar btn btn-circle btn-ghost tooltip tooltip-left tooltip-primary"
    data-tip={t("localePickerTitle")}>
    <img class="p-0.5" src={LANGUAGES[astroI18n.locale].pngSrc.src} alt={LANGUAGES[astroI18n.locale].label} />
  </label>

  <ul tabindex="0" class="menu dropdown-content menu-sm z-[1] mt-3 rounded-box bg-white p-2 shadow">
    {
      Object.keys(LANGUAGES)
        .filter((langCode) => langCode !== astroI18n.locale)
        .map((langCode) => (
          <li>
            <a href={`/${langCode}${astroI18n.route}`} data-astro-reload>
              <div class="w-8">
                <img src={LANGUAGES[langCode].pngSrc.src} alt={LANGUAGES[langCode].label} />
              </div>
              {LANGUAGES[langCode].label}
            </a>
          </li>
        ))
    }
  </ul>
</div>
