---
import {Image} from 'astro:assets';
import {ALL_LANGUAGES, LANGUAGE_LABEL, Lang} from '@src/i18n/uiTranslations';
import {getLangFromUrl, useTranslations} from '@src/i18n/uiTranslations';

import pngSlovakia from './slovakia.png';
import pngSerbia from './serbia.png';
import pngUnitedKingdom from './united-kingdom.png';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const LANGUAGE_ICON: {readonly [key in Lang]: string} = {
  sk: pngSlovakia,
  sr: pngSerbia,
  en: pngUnitedKingdom,
};
---

<div class="dropdown-end dropdown">
  <label
    tabindex="0"
    class="avatar btn btn-circle btn-ghost tooltip tooltip-left tooltip-primary"
    data-tip={t('LanguagePicker.title')}>
    <Image class="w-10 p-1" src={LANGUAGE_ICON[lang]} alt={LANGUAGE_LABEL[lang]} />
  </label>

  <ul tabindex="0" class="menu dropdown-content rounded-box menu-sm z-[1] mt-3 w-52 bg-base-200 p-2 shadow">
    {
      ALL_LANGUAGES.map((langCode) => (
        <li>
          <a href={`/${langCode}/`}>
            <div class="w-10">
              <Image src={LANGUAGE_ICON[langCode]} alt={LANGUAGE_LABEL[langCode]} />
            </div>
            {LANGUAGE_LABEL[langCode]}
          </a>
        </li>
      ))
    }
  </ul>
</div>
