---
import {t, astroI18n} from "astro-i18n";

import pngSlovakia from "./slovakia.png?url";
import pngSerbia from "./serbia.png?url";
import pngUnitedKingdom from "./united-kingdom.png?url";

const LANGUAGES = {
  sk: {
    pngSrc: pngSlovakia,
    label: t("localeLabel", undefined, {locale: "sk"}),
  },
  sr: {
    pngSrc: pngSerbia,
    label: t("localeLabel", undefined, {locale: "sr"}),
  },
  en: {
    pngSrc: pngUnitedKingdom,
    label: t("localeLabel", undefined, {locale: "en"}),
  },
} as const;
---

<div class="dropdown dropdown-end">
  <label tabindex="0" class="tooltip tooltip-left" data-tip={t("localePickerTitle")}>
    <span class="flex items-center -space-x-3">
      {
        Object.keys(LANGUAGES)
          .filter((langCode) => langCode !== astroI18n.locale)
          .map((langCode) => (
            <img class="h-6 w-6 grayscale" src={LANGUAGES[langCode].pngSrc} alt={LANGUAGES[langCode].label} />
          ))
      }
      <span class="avatar">
        <span class="h-10 w-10 md:h-14 md:w-14">
          <img src={LANGUAGES[astroI18n.locale].pngSrc} alt={LANGUAGES[astroI18n.locale].label} />
        </span>
      </span>
    </span>
  </label>

  <ul tabindex="0" class="menu dropdown-content menu-sm z-[1] mt-3 rounded-box bg-white p-2 shadow">
    {
      Object.keys(LANGUAGES)
        .filter((langCode) => langCode !== astroI18n.locale)
        .map((langCode) => (
          <li>
            <a href={`/${langCode}${astroI18n.route}`} data-astro-reload>
              <div class="w-10">
                <img src={LANGUAGES[langCode].pngSrc} alt={LANGUAGES[langCode].label} />
              </div>
              {LANGUAGES[langCode].label}
            </a>
          </li>
        ))
    }
  </ul>
</div>
