---
import {t} from "astro-i18n";

import BaseLayout from "@src/layouts/BaseLayout.astro";
import Headline from "@src/components/Headline.astro";
import Container from "@src/components/Container.astro";
import Center from "@src/components/Center.astro";
import ComingSoon from "@src/components/ComingSoon.astro";
import Paragraph from "@src/components/Paragraph.astro";
import ParticipationHeadline from "@src/components/ParticipationHeadline.astro";
import FlowerDivider from "@src/components/FlowerDivider.astro";

import assetDrawingHotelEurobus from "@src/assets/drawing-hotel-eurobus.png?url";
import assetDji01941600 from "@src/assets/hotel-eurobus/gallery/dji-0194-1600.jpg?url";
import assetDji0213upr1 from "@src/assets/hotel-eurobus/gallery/dji-0213upr-1.jpg?ur";
import assetDsc3271 from "@src/assets/hotel-eurobus/gallery/dsc-3271.jpg?url";
import assetDsc3275 from "@src/assets/hotel-eurobus/gallery/dsc-3275.jpg?url";
import assetDsc3918 from "@src/assets/hotel-eurobus/gallery/dsc-3918.jpg?url";
import assetDsc3987 from "@src/assets/hotel-eurobus/gallery/dsc-3987.jpg?url";
import assetDsc3996 from "@src/assets/hotel-eurobus/gallery/dsc-3996.jpg?url";
import assetDsc4048 from "@src/assets/hotel-eurobus/gallery/dsc-4048.jpg?url";
import assetDsc4052 from "@src/assets/hotel-eurobus/gallery/dsc-4052.jpg?url";
import assetHotelEurobus0820170201600 from "@src/assets/hotel-eurobus/gallery/hotel-eurobus-08-2017-020-1600.jpg?url";
import assetImg14541 from "@src/assets/hotel-eurobus/gallery/img-1454-1-logo.jpg?url";
import assetImg14661 from "@src/assets/hotel-eurobus/gallery/img-1466-1-logo-copy.jpg?url";
import assetImg14771 from "@src/assets/hotel-eurobus/gallery/img-1477-1-logo.jpg?url";
import assetImg4158 from "@src/assets/hotel-eurobus/gallery/img-4158.jpg?url";
import assetImg41671 from "@src/assets/hotel-eurobus/gallery/img-4167-1.jpg?url";
import assetImg41951 from "@src/assets/hotel-eurobus/gallery/img-4195_1.jpg?url";
import assetImg41991 from "@src/assets/hotel-eurobus/gallery/img-4199_1.jpg?url";
import assetImg42141 from "@src/assets/hotel-eurobus/gallery/img-4214_1.jpg?url";
import assetImg4226 from "@src/assets/hotel-eurobus/gallery/img-4226.jpg?url";
import assetImg8510 from "@src/assets/hotel-eurobus/gallery/img-8510.jpg?url";
import assetImg9217 from "@src/assets/hotel-eurobus/gallery/img-9217.jpg?url";
import assetImg9240 from "@src/assets/hotel-eurobus/gallery/img-9240.jpg?url";
import assetIzba1 from "@src/assets/hotel-eurobus/gallery/izba-1-logo.jpg?url";
import assetIzbaVyhlad from "@src/assets/hotel-eurobus/gallery/izba-vyhlad-logo.jpg?url";
---

<BaseLayout>
  <Container>
    <Headline top={t("place.venue")}>
      {t("place.region")}
      <br />
      <svg
        class="inline-block h-8 w-8 text-primary lg:h-12 lg:w-12"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"></path>
        <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7"></path></svg
      >
      <br />
      {t("place.slovakia")}
    </Headline>

    <img class="mx-auto w-full max-w-240 py-4" src={assetDrawingHotelEurobus} alt="hotel eurobus" />

    <Paragraph>
      <a class="link-hover link-primary" href="https://maps.app.goo.gl/aaikTAviGAciibZe6" target="_blank"
        >{t("faq.aAddress")}</a
      >
    </Paragraph>
  </Container>

  <FlowerDivider type="1" />

  <Container>
    <Headline>{t("place.hotelName")}</Headline>
    <Paragraph>
      {t("place.hotelParagraph1")}
    </Paragraph>

    <Paragraph>
      {t("place.hotelParagraph2")}
    </Paragraph>

    <section class="grid grid-cols-2 justify-items-center gap-4 md:grid-cols-3 lg:grid-cols-6">
      <!--hotel-->
      <img class="rounded-lg shadow-xl" src={assetDji01941600} alt="assetDji01941600" />
      <img class="rounded-lg shadow-xl" src={assetDsc3918} alt="assetDsc3918" />
      <img class="rounded-lg shadow-xl" src={assetDsc3996} alt="assetDsc3996" />
      <img class="rounded-lg shadow-xl" src={assetDsc4052} alt="assetDsc4052" />
      <img class="rounded-lg shadow-xl" src={assetDsc3271} alt="assetDsc3271" />
      <img class="rounded-lg shadow-xl" src={assetImg9217} alt="assetDsc9217" />
      <!--outsite-->
      <img class="rounded-lg shadow-xl" src={assetImg8510} alt="assetDsc8510" />
      <img class="rounded-lg shadow-xl" src={assetDsc3275} alt="assetDsc3275" />
      <img class="rounded-lg shadow-xl" src={assetImg9240} alt="assetDsc9240" />
      <img class="rounded-lg shadow-xl" src={assetDsc4048} alt="assetDsc4048" />
      <img class="rounded-lg shadow-xl" src={assetDsc3987} alt="assetDsc3987" />
      <img class="rounded-lg shadow-xl" src={assetHotelEurobus0820170201600} alt="assetHotelEurobus0820170201600" />
      <!--night-->
      <img class="rounded-lg shadow-xl" src={assetDji0213upr1} alt="assetDji0213upr1" />
      <img class="rounded-lg shadow-xl" src={assetImg41671} alt="assetImg41671" />
      <img class="rounded-lg shadow-xl" src={assetImg41951} alt="assetImg41951" />
      <img class="rounded-lg shadow-xl" src={assetImg41991} alt="assetImg41991" />
      <img class="rounded-lg shadow-xl" src={assetImg42141} alt="assetImg42141" />
      <img class="rounded-lg shadow-xl" src={assetImg4226} alt="assetImg4226" />
      <!--izby-->
      <img class="rounded-lg shadow-xl" src={assetImg14541} alt="assetImg14541" />
      <img class="rounded-lg shadow-xl" src={assetImg14661} alt="assetImg14661" />
      <img class="rounded-lg shadow-xl" src={assetImg14771} alt="assetImg14771" />
      <img class="rounded-lg shadow-xl" src={assetImg4158} alt="assetImg4158" />
      <img class="rounded-lg shadow-xl" src={assetIzba1} alt="assetIzba1" />
      <img class="rounded-lg shadow-xl" src={assetIzbaVyhlad} alt="assetIzbaVyhlad" />
    </section>

    <Paragraph class="my-4 lg:my-8">{t("place.hotelMorePhotos")}</Paragraph>

    <Center>
      <a class="btn btn-outline btn-primary" href="https://www.hoteleurobus.sk/galeria" target="_blank">
        <svg
          class="h-6 w-6"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"></path>
          <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
          <line x1="10" y1="14" x2="20" y2="4"></line>
          <polyline points="15 4 20 4 20 9"></polyline></svg
        >
        hoteleurobus.sk</a
      >
    </Center>
  </Container>

  <style>
    .parallax-hotel-eurobus2 {
      background: url(/assets/hotel-eurobus/hoteleurobus2.jpg) no-repeat fixed center center;
      background-size: cover;
    }
  </style>
  <div class="parallax-hotel-eurobus2 flex h-96 w-full flex-col items-center justify-center lg:h-140">
    <div class="card bg-white/80 p-8 shadow-xl backdrop-blur">
      <h3 class="text-center font-serif text-2xl lg:text-3xl">{t("place.celebrate")}</h3>
    </div>
  </div>

  <Container>
    <Headline top={t("place.slovakia")}>{t("place.region")}</Headline>

    <Paragraph>
      {t("place.description")}
    </Paragraph>
  </Container>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5256.564866601775!2d22.006098!3d48.795588!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473936a513d3df15%3A0xaf499dd857016e9e!2sHotel%20Eurobus!5e0!3m2!1ssk!2sus!4v1708199446875!5m2!1ssk!2sus"
    class="lg:h-100 h-80 w-full"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

  <Container>
    <ParticipationHeadline />
  </Container>
</BaseLayout>
