---
import {t} from "astro-i18n";

import assetOurAnswerAvatar from "@src/assets/20230630_202043_cut_100_100.jpg?url";

interface Props {
  qaToken: string;
  href?: string;
}

const {qaToken, href} = Astro.props;
---

<a class="block" id={qaToken} href={`#${qaToken}`}></a>

<!-- divider to push qa down from link, so URL with #tag can scroll exactly to it and not be covered by <Navigation> -->
<div class="divider my-6"></div>

<div class="collapse collapse-arrow transition-all hover:bg-white focus:bg-white focus:shadow-xl">
  <input type="checkbox" />

  <h4 class="collapse-title">{t(`faq.q${qaToken}`)}</h4>

  <div class="collapse-content">
    <div class="chat chat-end">
      <div class="avatar chat-image">
        <div class="mask mask-squircle w-8 lg:w-10">
          <img alt="our answer avatar" src={assetOurAnswerAvatar} />
        </div>
      </div>
      <div class="chat-bubble chat-bubble-primary text-sm md:text-base">
        {t(`faq.a${qaToken}`)}
      </div>
    </div>

    {
      href != null && (
        <div class="chat chat-end">
          <div class="avatar chat-image">
            <div class="mask mask-squircle w-8 lg:w-10">
              <img alt="our answer avatar" src={assetOurAnswerAvatar} />
            </div>
          </div>
          <div class="chat-bubble chat-bubble-primary text-sm md:text-base">
            <a class="link break-words" href={href} target="_blank">
              {href}
            </a>
          </div>
        </div>
      )
    }
  </div>
</div>
