---
import {t, astroI18n} from "astro-i18n";

import srcPeter from "@src/assets/20221021_134911_cut_avatar.jpg?url";
import srcIvana from "@src/assets/20221021_135754_cut_avatar.jpg?url";
import srcFlagSlovakia from "@src/assets/flag_slovakia.png?url";
import srcFlagSerbia from "@src/assets/flag_serbia.png?url";
import srcFlagUK from "@src/assets/flag_uk.png?url";

interface Props {
  who: "Peter" | "Ivana";
  direction: "start" | "end";
  chatKey: string;
}

const {who, direction, chatKey} = Astro.props;

const LANGUAGES = {
  sk: {
    srcFlag: srcFlagSlovakia,
    chatMsg: t(chatKey, undefined, {locale: "sk"}),
    chatLanguage: t("phrases.slovak"),
  },
  sr: {
    srcFlag: srcFlagSerbia,
    chatMsg: t(chatKey, undefined, {locale: "sr"}),
    chatLanguage: t("phrases.serbian"),
  },
  en: {
    srcFlag: srcFlagUK,
    chatMsg: t(chatKey, undefined, {locale: "en"}),
    chatLanguage: t("phrases.english"),
  },
} as const;

const chatDirection = `chat-${direction}`;
const srcAvatar = who === "Ivana" ? srcIvana : srcPeter;
const chatBgColor = who === "Ivana" ? "bg-secondary" : "bg-accent";
const chatTextColor = who === "Ivana" ? "text-secondary-content" : "text-white";
---

<div class="chat" class:list={[chatDirection]} title={LANGUAGES[astroI18n.locale].chatLanguage}>
  <div class="avatar chat-image">
    <div class="mask mask-squircle w-12 lg:w-20">
      <img alt={who} src={srcAvatar} />
    </div>
  </div>
  <div class="chat-bubble text-sm md:text-base" class:list={[chatBgColor, chatTextColor]}>
    {LANGUAGES[astroI18n.locale].chatMsg}
  </div>
</div>

{
  Object.keys(LANGUAGES)
    .filter((langCode) => langCode !== astroI18n.locale)
    .map((langCode) => (
      <div class:list={["chat", chatDirection]} title={LANGUAGES[langCode].chatLanguage}>
        <div class="avatar chat-image">
          <div class="w-8 lg:w-10">
            <img alt={who} src={LANGUAGES[langCode].srcFlag} />
          </div>
        </div>
        <div class="chat-bubble chat-bubble-primary text-sm md:text-base">{LANGUAGES[langCode].chatMsg}</div>
      </div>
    ))
}
