---
import '@src/global.css';

import Navigation from '@src/components/Navigation.astro';
import {getLangFromUrl} from '@src/i18n/uiTranslations';

const lang = getLangFromUrl(Astro.url);

const {title} = Astro.props.frontmatter || Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
  </head>

  <body>
    <Navigation />

    <main>
      <slot />
    </main>
  </body>
</html>
