---
import {t, astroI18n, l} from "astro-i18n";
import {ViewTransitions} from "astro:transitions";

import Navigation from "@src/components/Navigation.astro";

import "@src/global.css";
import GlobalStyles from "@src/components/GlobalStyles.astro";

const {title} = Astro.props.frontmatter || Astro.props;

const htmlTitle = title ?? t("title");
---

<html lang={astroI18n.locale} data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{htmlTitle}</title>
    <ViewTransitions />

    <GlobalStyles />
  </head>

  <body class="my-watercolor-paper-texture">
    <Navigation />

    <main>
      <slot />
    </main>

    <section class="container mx-auto">
      <footer class="footer justify-center gap-4 py-6 md:gap-24">
        <aside>
          <header class="footer-title">{t("title")}</header>
          <a href="mailto:ivanapeter2024@gmail.com" class="link-hover link">ivanapeter2024@gmail.com</a>
          <p>Copyright ©2023</p>
          <p>All rights reserved</p>
        </aside>

        <nav>
          <header class="footer-title">&nbsp;</header>
          <a class="link" href={l("/place")}>{t("nav.place")}</a>
          <a class="link" href={l("/participation")}>{t("nav.participation")}</a>
        </nav>

        <nav>
          <header class="footer-title">{t("nav.more")}</header>
          <a class="link">About us</a>
          <a class="link">Contact</a>
        </nav>
      </footer>
    </section>
  </body>
</html>
