---
import '@src/global.css';

import Navigation from '@src/components/Navigation.astro';
import Countdown, {CountdownProps} from '@src/components/Countdown';
import {getLangFromUrl} from '@src/i18n/uiTranslations';
import {useTranslations} from '@src/i18n/uiTranslations';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {title} = Astro.props.frontmatter || Astro.props;

const countdownProps: CountdownProps = {
  daysLabel: t('Countdown.days'),
  hoursLabel: t('Countdown.hours'),
  minutesLabel: t('Countdown.minutes'),
  secondsLabel: t('Countdown.seconds'),
};
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
  </head>

  <body>
    <Navigation />

    <Countdown {...countdownProps} client:visible />

    <main>
      <slot />
    </main>
  </body>
</html>
