---
import '../global.css';
import LanguagePicker from '@src/components/LanguagePicker.astro';
import {getLangFromUrl} from '@src/i18n/uiTranslations';

const lang = getLangFromUrl(Astro.url);

const {title} = Astro.props.frontmatter || Astro.props;
---

<html lang={lang} data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
  </head>

  <body>
    <slot />

    <footer>
      <LanguagePicker />
    </footer>
  </body>
</html>
